<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div th:fragment="body" class="footer-wrap"
     style="border-top: thin solid darkgrey; border-bottom: thin solid darkgrey; background:#eeeeee;">
    <div>
    </div>
    <div class="footer-links">
        <a href="https://github.com/KwisatzX/spring-mvc-company/" target="_blank" class="footer-item">GITHUB</a>
        <a href="https://www.linkedin.com/in/tomasz-w%C4%99grzyk-09b57621a/" target="_blank" class="footer-item">LinkedIn</a>
    </div>
</div>
</body>
</html>