<!DOCTYPE html>
<html>
<body>
<form>
    <th:block th:fragment="select (label, name, items)">
        <div th:with="valid=${!#fields.hasErrors(name)}" class="contact-form-grid">
            <label class="label" th:text="${label}">Label</label>
            <select th:field="*{__${name}__}">
                <option th:each="item : ${items}" th:value="${item}"
                        th:text="${item}">item
                </option>
            </select>
            <th:block th:if="${!valid}">
                <span class="help-footnote" th:errors="*{__${name}__}">Error</span>
            </th:block>
        </div>
    </th:block>
</form>
</body>
</html>